@import url(https://fonts.googleapis.com/css?family=Pixelar);

body {
  background-color: #00203f;
  margin: 0;
  padding: 0;
  font-family: 'Georgia';
  color: #FFFFFF;
  text-align-last: center;
}

div {
  font-size: 1.5em;
  line-height: 1.8em;
}

br {
  line-height: 50%;
}

h2 {
  font-size: 6em;
  font-family: 'Pixelar';
  margin-top: 40px;
  text-align: center;
  width: 100%;
  letter-spacing: -2px;
}

input[type=submit] {
  background-color: #93ebc2;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  border-radius: 12px;
  font-family: 'Georgia';
  opacity: 1;
  transition: background-color 0.75s;
}

input[type=submit]:hover {
  transition: 0.5s;
  background-color: #24c278;
}

p {
  line-height: 1.5em;
}

#error {
  color: #e6c200;
  font-size: 18px;
}

.brsmall {
  display: block;
  margin-bottom: -0.4em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
