<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelated Image</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class='center'>
        <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
        <br>
        <br>
        <button id='refresh' onClick="window.location.href=window.location.href">Pixelate Another Image</button>
    </div>
</body>
</html>
